*~
/data/v1
/build
/build_mac
/doxygen
*.tsv
/sim_imgs
*.so
*kdev4*
*.pyc
*.out
*.zip

.idea
.vscode
.DS_Store
tensorboard_logs
*.t7
*/checkpoints
*.tar


venv
img_features
obj_features
build
snap

data
.env